html{
    width:100%;
    height: 100%;
}
body{

    font-family: 'Anton', sans-serif;
}
p {
    font-family: 'Abel', sans-serif;

}
.codeup-hdr{
    font-size: 40px;
}
.logo {
    height: 60px;
    position: relative;
}
.logo img{
    width: 105px;
    height: 105px;
    border: none;
    z-index: 2;
    position: absolute;
    bottom: -25px;
}
@media screen and (min-width: 768px) {
    .logo img {
        z-index: 0;
        position: relative;
        bottom: 0;
    }
}
#twitter {
    color: skyblue;
}
/*
@media screen and (min-width: 768px) {
    .logo img {
        left: 30px;
    }
}
*/
.codeup-design-md-lg{
    font-size: 2rem;
}
nav {
    margin: auto;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
    color: black;
}

i {
    margin: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    font-family: 'Abel', sans-serif;
}
.i-des{
    background-color: #e6563b;
}
.i-dev{
    background-color: #EB9D3A;
}
.i-sup{
    background-color: #7CB06C;
}
.i-hos{
    background-color: #00ABA9;
}
.circles{
    margin:10px;
    width: 160px;
    height: 160px;
    border: 5px solid white;
    color: white;
    border-radius: 50%;
}
.design{
    background-color: #e6563b;
}
.develop{
    background-color: #EB9D3A;
}
.support{
    background-color: #7CB06C;
}
.host{
    background-color: #00ABA9;
}

.container-fluid {
    background-color: #F0F0F0;
}

.card {
    background-color: #F0F0F0;
   border: none;
}

img {
    width: 411px;
    height: 280px;
    border: 10px solid #E6E6E6;
}
.right-nav{
    width: 30px;
    height: 30px;
    border: none;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 28px;
}
