html{
    width:100%;
}
body{

    font-family: 'Anton', sans-serif;
    /*overflow-x: hidden;*/
    height: 100%;
}
.main {
    padding: 0;
}

p {
    font-family: 'Abel', sans-serif;

}
.codeup-hdr{
    font-size: 40px;
}
.logo {
    height: 60px;
    position: relative;
}
.logo img{
    width: 105px;
    height: 105px;
    border: none;
    z-index: 2;
    position: absolute;
    bottom: -25px;
}
.last-tweet{
    font-size: 22px;
}
.tweet-body{
    width: 83%;
}
#twitter {
    color: #00aced;
   font-size: 30px;
   position: relative;
   bottom: -5px;
}
/*
@media screen and (min-width: 768px) {
    .logo img {
        left: 30px;
    }
}
*/
.codeup-design-md-lg{
    font-size: 2rem;
}
nav {
    margin: auto;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Abel', sans-serif;
    color: black;
}
i {
    margin: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    font-family: 'Abel', sans-serif;
}
.i-des{
    background-color: #e6563b;
}
.i-dev{
    background-color: #EB9D3A;
}
.i-sup{
    background-color: #7CB06C;
}
.i-hos{
    background-color: #00ABA9;
}
.circles{
    margin:10px;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    color: white;
    border-radius: 50%;
}

.design{
    background-color: #e6563b;
}
.develop{
    background-color: #EB9D3A;
}
.support{
    background-color: #7CB06C;
}
.host{
    background-color: #00ABA9;
}

.container-fluid {
    background-color: #F0F0F0;
    /*overflow: hidden;*/
    height: 100%;
}

.card {
    background-color: #F0F0F0;
   border: none;
}

img {
    width: 411px;
    height: 280px;
    border: 10px solid #E6E6E6;
}
.right-nav{
    width: 75px;
    height: 75px;
    border: none;
}
.right-article{
    height: 125px;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 28px;
}
h6{
    font-size: 28px;
}
@media screen and (min-width: 992px) {
    .main {
        padding-left: 15%;
        padding-right: 15%;
    }
    .white-row {
        width: 150%;
        position: relative;
        left: -25%;
    }
}
@media screen and (min-width: 768px) {
    .logo img {
        z-index: 0;
        position: relative;
        bottom: 0;
    }
    h6{
        font-size: 18px;
    }

}
/*@media screen and (max-width: 767px) and (min-width: 576px) {*/
/*    .circles {*/
/*        width: 140px;*/
/*        height: 140px;*/
/*    }*/
/*}*/
@media screen and (min-width: 550px) {
    .circles {
        margin: 10px;
        width: 130px;
        height: 130px;
        font-size: 25px;
    }
}